# This is a basic workflow to help you get started with Actions

name: Deploy FrontEnd to blob storage

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch for FrontEnd
  push:
    branches: [ main ]
    paths:
    - 'FrontEndv2/**'
    
#Logs in to Azure to upload the front end to your blob storage
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: azure/login@v1.4.3
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: '20'
    - name: Install dependencies
      working-directory: FrontEndv2
      run: npm ci
    - name: Build frontend
      working-directory: FrontEndv2
      run: npm run build  
    - name: Upload to blob storage
      uses: Azure/cli@1.0.4
      with:
        inlineScript: |
          az storage blob upload-batch --account-name crstorage92 --destination '$web' --source FrontEndv2/out --overwrite
    - name: Purge CDN Endpoint
      uses: Azure/cli@v1
      with: 
        inlineScript: |
          az cdn endpoint purge --content-paths "/*" --resource-group "CRWrg" --profile-name "CDNAzResume" --name "CDNEAlexHernIT" --no-wait
          
#Azure logout
    - name: logout
      run: |
            az logout
    
